body{
    padding: 0 15px;
}

#searchAndHistory{
    height: 720px;
    border: 1px solid purple;
}

#weatherReport{
    border: 1px solid purple;
}

#currentWeather{
    height: 60%;
    border: 1px solid red;
}

#fiveDayForecast{
    height: 40%;
    border: 1px solid cyan;
}

#lastFiveSearched{
    margin-top: 20px;
}

.previouslySearched{
    height: 25px;
    width: 100%;
    text-align: center;
    margin-top: 1px;
}