body{
    height: 100%;
    padding: 0 8px;
    background-color: paleturquoise;
}

.previouslySearched{
    height: 36px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
}

.todaysConditions{
    line-height: 2.5;
}

.futureDays{
    text-align: center;
    padding-top: 50px;
}

#day1,
#day3,
#day5{
    background-color: pink;
}

#day2,
#day4{
    background-color: yellow;
}

#searchAndHistory{
    height: 720px;
    background-color: greenyellow;
}

#clearHistoryButton{
    color: white;
}

#currentWeather{
    height: 60%;
    text-align: center;
    display: block;
}

#fiveDayForecast{
    height: 40%;
}

#lastSearched{
    margin-top: 20px;
}
